name: Coverage
on:
  workflow_dispatch:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: corepack enable
      - run: corepack prepare pnpm@10.4.0 --activate

      - uses: pnpm/action-setup@v4
        with:
          version: 10.4.0

      - run: pnpm -v
      - run: pnpm install --frozen-lockfile
      - run: pnpm test -- --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/coverage-final.json
          fail_ci_if_error: false
          # token: ${{ secrets.CODECOV_TOKEN }}  # Required for private repos
